[Unit]
Description=Login prompt
After=gdm.target

[Service]
ExecStart=/usr/sbin/glogind
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
